/PyLucene/IndexFiles.index/_12.cfe
/PyLucene/IndexFiles.index/_12.cfs
/PyLucene/IndexFiles.index/_12.si
/PyLucene/IndexFiles.index/_13.cfe
/PyLucene/IndexFiles.index/_13.cfs
/PyLucene/IndexFiles.index/_13.si
/PyLucene/IndexFiles.index/_14.cfe
/PyLucene/IndexFiles.index/_14.cfs
/PyLucene/IndexFiles.index/_14.si
/PyLucene/IndexFiles.index/_15.cfe
/PyLucene/IndexFiles.index/_15.cfs
/PyLucene/IndexFiles.index/_15.si
